# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\cheeyau\OneDrive - Hogeschool Inholland\HBO Informatica\jaar_2\period_1\Java Fundamentals\end-assignment\wt\cheeyau-aw-645698-end-assignment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
